#设备平台
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_ALL_PROFILES=n
CONFIG_TARGET_ROOTFS_INITRAMFS=n
CONFIG_FEED_video=n

#设备列表
CONFIG_TARGET_DEVICE_mediatek_filogic_DEVICE_supergateway_s20l=y

# WIFI驱动 - 保留各设备 DEVICE_PACKAGES 中的默认无线驱动

# Kernel modules
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-cryptodev=y

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_luci-app-eqos=y

# PPTP
CONFIG_PACKAGE_ppp-mod-pptp=y
CONFIG_PACKAGE_luci-proto-pptp=y

CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_EASYTIER_INCLUDE_WEBCONSOLE=n
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_rclone=n
CONFIG_PACKAGE_luci-app-openlist=n
CONFIG_PACKAGE_luci-app-cloudflared=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_axonhub=n
CONFIG_PACKAGE_luci-app-axonhub=n

# NetBird
CONFIG_PACKAGE_netbird=y
CONFIG_PACKAGE_luci-app-netbird=y

# Cloudflare Speed Test
CONFIG_PACKAGE_cdnspeedtest=y
CONFIG_PACKAGE_luci-app-cloudflarespeedtest=y
